@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kanit&family=Lobster&family=Poppins&family=Prompt&family=Roboto+Mono&family=Sono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: #EFEFEF;
}

.svg-sizes {
    height: 25px;
    width: 25px;
    margin-right: 8px;
    margin-top: 2px;
    fill: #0070f3;
}

.svg-sizes-ingredients {
    height: 20px;
    width: 20px;
    margin-right: 8px;
    margin-top: 4px;
    fill: #0070f3;
}

.clignote  {
    animation-duration: .8s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
}

@keyframes clignoter {
    0%   { opacity:1; }
    40%   {opacity:0; }
    100% { opacity:1; }
}

.image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}

